#volume-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.3rem;
    height: 2.1rem;
    margin-top: auto;   
    padding: 0.5rem;
    width: 80%;
   
    border: 2px solid pink;
 
}

#volume-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 9rem;
   
}

/* #volume-slider {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
} */

#volume-val{
    display: none;
}

#volume-toggle {
    /* width: 2.1rem; */
    height: 2.1rem;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
